/*---------- Animation Style-------*/
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes skills {
    from {
        width: 0%;
    }
}

.skills {
    animation-name: skills;
    animation-duration: 2s;
    display: block;
}

.delay-350ms {
    animation-delay: 3.5s;
}

.delay-3s {
    animation-delay: 3s;
}

.delay-250ms {
    animation-delay: 2.5s;
}

.delay-2s {
    animation-delay: 2s;
}

.delay-150ms {
    animation-delay: 1.5s;
}

.delay-1s {
    animation-delay: 1s;
}

.delay-50ms {
    animation-delay: 0.5s;
}

.slideInLeft {
    animation-name: slideInLeft;
}

.slideInRight {
    animation-name: slideInRight;
}

.slideInUp {
    animation-name: slideInUp;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: hidden;
    }

    to {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: hidden;
    }

    to {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: hidden;
    }

    to {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: hidden;
    }

    to {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

.slideInRight {
    animation-name: slideInRight;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: hidden;
    }

    to {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
}

@keyframes zoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
        opacity: 0;
    }
}

.zoomOut {
    animation-name: zoomOut;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInDown {
    animation-name: fadeInDown
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInRight {
    animation-name: fadeInRight
}