// @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap rel="stylesheet');
@import "animation";
/* Variables */
$primary: #8e8e90;
$white: #ffffff;
$title: #222129;
$green: #6bba62;
$btnHover: #37c978;
$btn: #f3f3f3;
$resumeColor: #ff724c;
$poppins: "Times New Roman",
Times,
serif,
sans-serif;
// $poppins: "Raleway", sans-serif;
$t_sc: all 0.3s ease-in-out;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-family: $poppins;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title;
  font-family: $poppins;
  margin: 0;
}

p {
  color: $title;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

a,
a:hover,
a:focus {
  transition: $t_sc;
  text-decoration: none;
  cursor: pointer;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

section {
  padding-top: 100px;
}

.section-title {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: right;
  max-width: 350px;

  span {
    font-weight: 800;
    color: $primary;
  }

  .title {
    color: $title;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 52px;
  }

  span {
    &:before {
      position: absolute;
      top: 50%;
      content: "";
      height: 1px;
      width: 50%;
      left: 0;
      background-color: #adadad;
    }
  }
}

.btn {
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  background-color: $btn;
  color: #3b3b3b;
  display: inline-block;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $btnHover;
    z-index: 1;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    z-index: -1;
  }

  &:hover {
    color: #fff;
  }

  &:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
  }

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

/*---------- Loader Style-------*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $green;
    animation: spin 2s linear infinite;
    z-index: 1001;

    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #fec200;
      animation: spin 3s linear infinite;
    }

    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #fa6231;
      animation: spin 1.5s linear infinite;
    }
  }

  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1000;
    transform: translateX(0);
  }

  .section-left {
    left: 0;
  }

  .section-right {
    right: 0;
  }
}

.loaded {
  #loader-wrapper {
    visibility: hidden;
    transition: all 0.3s 1s ease-out;

    #loader {
      opacity: 0;
      transition: all 0.3s ease-out;
    }

    .section-left {
      transform: translateX(-100%);
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .section-right {
      transform: translateX(100%);
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}

/*---------- SVG Style-------*/
svg {
  width: 100%;
  height: 50px;
  fill: none;
  fill-opacity: 0;
  stroke: white;
  stroke-width: 1;
  box-sizing: border-box;
  transition: fill 15s;

  text {
    font-size: 40px;
    letter-spacing: -2px;

    tspan>tspan {
      stroke-dasharray: 150;
      stroke-dashoffset: -150;

      @for $i from 1 through 14 {
        &:nth-of-type(#{$i}) {
          animation: draw 2s #{$i * 350}ms forwards;
        }
      }
    }
  }
}

svg {
  fill: #fff;
}

/*---------- Header Style-------*/
header {
  background: url("../img/banner.jpg") no-repeat 50% 50%;
  min-height: 100vh;
  background-size: cover;
  position: relative;

  &:before {
    background-color: rgba(0, 0, 0, 0.25);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
  }

  .logo {
    img {
      position: absolute;
      top: 0px;
    }
  }

  .navbar {
    padding: 40px 0 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    .fa-bars:before {
      color: white;
    }

    .nav-item {
      padding: 0 20px;

      .nav-link {
        color: $white;
        font-size: 18px;
        padding: 0;

        &.active,
        &:hover {
          color: $green;
        }
      }
    }
  }

  .lab-navbar {
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease-in-out;

    .fa-bars::before {
      color: #333;
    }

    .nav-item {
      .nav-link {
        color: #333;

        &.active,
        &:hover {
          color: $green;
        }
      }
    }
  }

  .intro-text {
    margin-top: 250px;

    .subheading {
      font-size: 23px;
      font-weight: 500;
      color: $white;
      letter-spacing: 2px;
    }

    p {
      color: $white;
      font-size: 23px;
      font-weight: 500;
      padding: 10px 0 20px;
      letter-spacing: 2px;

      .wrap {
        border-right: 0.06em solid #fff;
      }
    }

    .social-icon {
      padding-top: 6px;

      li {
        list-style-type: none;
        display: inline;

        i {
          color: #fff;
          background: transparent;
          border: 1px solid #fff;
          margin-left: 10px;
          border-radius: 100%;
          padding: 7px 7px;
          font-size: 14px;
          transform: rotate(0);

          &:hover {
            transform: rotate(360deg);
            transition: 0.5s ease;
          }
        }

        .facebook i {
          padding: 9px 12px;
          margin-left: 0;

          &:hover {
            padding: 9px 12px;
            background-color: #3b5999;
            border: 1px solid #3b5999;
          }
        }

        .github i {
          padding: 9px 9px;

          &:hover {
            padding: 9px 9px;
            background-color: #161414;
            border: 1px solid #161414;
          }
        }

        .linkedin i {
          padding: 9px 10px;

          &:hover {
            padding: 9px 10px;
            background-color: #0077b5;
            border: 1px solid #0077b5;
          }
        }

        .google i {
          padding: 9px 7px;

          &:hover {
            padding: 9px 7px;
            background-color: #dd4b39;
            border: 1px solid #dd4b39;
          }
        }

        .yahoo i {
          padding: 9px 10px;

          &:hover {
            padding: 9px 10px;
            background-color: #6a2ee4;
            border: 1px solid #6a2ee4;
          }
        }
      }
    }

    .header-btn {
      margin-bottom: 50px;

      a {
        background-color: #f8f9fa;
      }
    }
  }
}

/*---------- About Style-------*/
.about-us {
  .title {
    padding: 0 45px 30px 0;
  }

  .about-left-content {
    h3 {
      font-size: 20px;
    }

    p {
      padding-bottom: 10px;
    }
  }
}

/*---------- Services Style-------*/
.services {
  .service-content {
    padding: 30px 10px;
    border-radius: 5%;
    position: relative;
    transition: all 1s ease;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 0px;
      background-color: $btn;
      border-radius: 5%;
      transition: all 1s ease;
      z-index: -1;
    }

    &:hover::before {
      padding: 40px;
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: $btn;
      padding: 30px 10px;
      border-radius: 5%;
      transition: all 1s ease;
      z-index: -1;
    }

    .service-icon {
      display: flex;
      justify-content: center;
    }

    h3 {
      padding: 30px 0 20px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

/*---------- Portfolio Style-------*/
.portfolio {
  .portfolio-item {
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0px 1px 1px #eee;
    margin-bottom: 80px;
    background-color: #fff;

    a {
      color: black;

      .topcurat {
        background: url(../img/portofoliu/topcuratenie.jpg) center 0% / cover no-repeat rgb(170, 170, 170);
      }

      .admin-panel {
        background: url(../img/portofoliu/adminpanel.jpg) center 0% / cover no-repeat rgb(170, 170, 170);
      }

      .prestigeconsultants {
        background: url(../img/portofoliu/prestigeconsultants.jpg) center 0% / cover no-repeat rgb(170, 170, 170);
      }

      .personal {
        background: url(../img/portofoliu/personal.jpg) center 0% / cover no-repeat rgb(170, 170, 170);
      }

      .tetris {
        background: url(../img/portofoliu/tetris.jpg) center 0% / cover no-repeat rgb(170, 170, 170);
      }
      .slctruckcorp{
        background: url(../img/portofoliu/truckAgency.jpg) center 0% / cover no-repeat rgb(170, 170, 170);
      }

      .portfolio-img {
        width: 100%;
        height: 300px;
        border-bottom: 1px solid rgb(238, 238, 238);
        display: flex;
        flex-wrap: wrap;

        .img-eye {
          position: absolute;
          padding-top: 30px;
          padding-left: 30px;
          z-index: 10;
          text-align: center;

          img {
            width: 50px;
            height: 50px;
            opacity: 0;
            transition: opacity 2s ease;
          }
        }

        &:hover {
          animation: scrollUp 4s linear forwards;

          .img-eye {
            opacity: 1;
            z-index: 10;

            img {
              opacity: 1;
            }
          }
        }
      }

      .portfolio-text {
        margin: 20px 20px;

        .portfolio-title {
          width: 100%;
          font-size: 20px;
          font-weight: 600;
          overflow: hidden;
        }

        p {
          line-height: 20px;
          margin: 1rem 0;
          height: 170px;
          overflow: hidden;
        }

        .icon {
          height: 37px;
          width: 26px;
          margin: 0 2px;
        }

        .css3 {
          background: url(../img/logo/css3.jpg) center 0% / cover no-repeat;
        }

        .html5 {
          background: url(../img/logo/html5.jpg) center 0% / cover no-repeat;
        }

        .js {
          background: url(../img/logo/js.jpg) center 0% / cover no-repeat;
        }

        .angular {
          background: url(../img/logo/angular.jpg) center 0% / cover no-repeat;
          width: 30px;
        }

        .bootstrap {
          background: url(../img/logo/bootstrap.jpg) center 0% / cover no-repeat;
          width: 30px;
        }

        .portfolio-footer {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
  }
}

/*---------- Resume Style-------*/

.resume {
  .granduate {
    width: 100%;

    .graduate-title {
      height: 50px;
      display: flex;
      padding-bottom: 10px;
      border-left: 1px solid;
      margin-left: 14px;
      z-index: 1;

      i {
        color: #f3f3f3;
        background-color: #ff724c;
        padding: 13px 12px;
        font-size: 15px;
        border-radius: 100%;
        margin-right: 15px;
        position: absolute;
        left: 8px;
      }

      .fa-briefcase {
        padding: 13px 14px;
      }

      h3 {
        text-align: center;
        width: 100%;
        margin-top: 6px;
      }
    }

    .items {
      z-index: 1;
      padding-left: 44px;
      border-left: 1px solid;
      margin-left: 14px;
      &:last-child {
        border-left: none;
      }
      &:hover {
        cursor: pointer;

        i {
          background-color: $resumeColor;
          border-radius: 50%;
        }
      }
      i {
        color: $resumeColor;
        font-size: 10px;
        position: absolute;
        left: 25px;
        background-color: white;
      }
      h4 {
        font-size: 18px;

        span {
          font-size: 17px;
          color: $primary;
          margin: 0px auto;
        }
      }
      span {
        font-size: 15px;
        font-weight: 400;
        color: $resumeColor;
        margin-bottom: 10px;
      }
      p {
        font-weight: 400;
        color: $primary;
        margin-top: 7px;
        line-height: 23px;
        margin: 0;
        padding-bottom: 10px;
      }
    }
  }

  /*---------- Skills Style-------*/
  .skill {
    padding-top: 100px;

    .skill-img {
      align-items: center;
      display: flex;
      margin-bottom: 20px;

      img {
        width: 100%;
      }
    }

    .skill-wrapper {
      display: flex;
      align-items: flex-end;

      .tools-expert {
        width: 100%;

        .skill-item {
          margin-bottom: 15px;

          h4 {
            font-weight: 200;
            font-size: 20px;
          }

          .progress {
            overflow: visible;
            height: 4px;

            .progress_bar {
              background-color: #57d131;
              position: relative;
              border-radius: 4px;

              span {
                background-color: #57d131;
                position: absolute;
                bottom: -20px;
                font-size: 10px;
                line-height: 10px;
                padding: 2px 3px 2px 4px;
                right: -1.4em;
                border-radius: 2px;

                &:after {
                  bottom: 100%;
                  left: 50%;
                  border: solid transparent;
                  content: " ";
                  height: 0;
                  width: 0;
                  position: absolute;
                  pointer-events: none;
                  border-color: rgba(255, 255, 255, 0);
                  border-bottom-color: #57d131;
                  border-width: 5px;
                  margin-left: -5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*---------- Contact Style-------*/

.contact {
  .contact_form {
    animation: zoomIn 3s;
    margin: 0 auto;
    .contact-description {
      font-size: 20px;
    }

    .form-wrapper {
      padding: 20px 0;
      .modal-window {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    .btn {
      border-radius: 30px;
      color: #3b3b3b;
      font-size: 13px;
      padding: 0px 15px 0px 0px;
      background-color: $btn;
      margin-top: 20px;
      outline: none;
      i {
        color: $btn;
        background-color: $primary;
        margin-right: 14px;
        padding: 15px 20px;
        font-size: 11px;
        border-radius: 30px 0% 0% 30px;
      }
      &:hover i {
        color: $resumeColor;
      }
    }
  }
}

/*---------- scrollUp Style-------*/
.scrollUp {
  background-color: $primary;
  height: 40px;
  width: 40px;
  position: fixed;
  right: 31px;
  bottom: 18px;
  color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  border: none;
  outline: none;
  display: flex !important;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 9999;

  &:hover {
    color: $resumeColor;
  }
}

/*---------- communication Style-------*/
.communication {
  background-color: #282828;
  margin-top: 100px;
  color: $btn;
  border-radius: 10px 10px 0 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  animation-duration: 3s;
  margin: 100px 0 0;
  padding: 23px 0;

  .contactPhone,
  .contactMail,
  .location {
    text-align: left;
    display: flex;
    max-width: 220px;
    align-items: center;
  }

  a {
    height: 35px;
    width: 35px;
    margin: 8px 15px 0 0;

    i {
      color: $resumeColor;
      background-color: $btn;
      border-radius: 100%;
      padding: 7px 7px;
      font-size: 12px;
      transform: rotate(0);
      cursor: pointer;
      

      &:hover {
        color: $btn;
        background-color: $resumeColor;
        transform: rotate(360deg);
        transition: 0.5s ease;
      }
    }

    .fa-map-marker-alt {
      padding: 7px 9px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: $primary;
  }
}

/*---------- footer Style-------*/
.footer {
  background-color: $btn;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
  animation-duration: 3s;

  h4 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    color: #818181;
  }
}

@media screen and (max-width: 992px) {
  .nav-item {
    padding: 0 12px !important;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    img {
      right: 30px;
    }
  }

  .portfolio {
    .button-group {
      .button {
        font-size: 17px;
        padding-left: 20px !important;
        &::before {
          content: "";
        }
      }
    }
  }

  .communication {
    .contactPhone,
    .contactMail,
    .location {
      padding-top: 3px;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 576px) {
  .logo {
    img {
      top: 10px !important;
      right: 30px;
      height: 45px;
    }
  }

  svg {
    text {
      font-size: 30px;
    }
  }
}